<%- include("../include/head.ejs")  %>
</head>

<body>
  <%- include("../include/admin-navbar.ejs") %>
  <div class="topic-container">
    <% if(topic.length > 0 ) { %>
    <% topic.forEach(t=>{ %>

    <div class="topic">
        <div class="topic-name-div">
            <p class="topic-name"><%= t.topic  %></p>
        </div>
      <form action="/admin/show-edit-topic" method="post">
        <input type="hidden" name="topicId" value="<%= t._id  %>">
        <button class="btn-edit">Edit</button>
      </form>
      <form action="/admin/delete-topic" method="post">
        <input type="hidden" name="topicId" value="<%= t._id %>">
        <button class="btn-delete">Delete</button>
      </form>
    </div>
    <% }) %>
    <% } else { %>
    <div class="no-topic">
      <p>No Topic Found</p>
    </div>
    <% } %>
  </div>
</body>
</html>